<a href="https://colab.research.google.com/github/themoinmalik/mosiq/blob/master/house_price_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [ ]:
df = pd.read_csv("Bengaluru_House_Data.csv")

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df["area_type"].unique()

In [ ]:
df['area_type'].value_counts()

In [ ]:
## but these data are not usable

In [ ]:
df1 = df.drop(["area_type",'society',"balcony","availability"],axis = "columns")

In [ ]:
df1.shape

In [ ]:
df1.isnull().sum()

In [ ]:
df2 = df1.dropna()

In [ ]:
df2.isnull().sum()

In [ ]:
df2.shape

In [ ]:
df2["bhk"]  = df2["size"].apply(lambda x: int(x.split(' ')[0]))

In [ ]:
df2["bhk"].unique()

In [ ]:
df2.head()

explore total_sqft

In [ ]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [ ]:
2+3

In [ ]:
df2[~df2["total_sqft"].apply(is_float)].head(10)

Above shows that total_sqft can be a range (e.g. 2100-2850). For such case we can just take average of min and max value in the range. There are other cases such as 34.46Sq. Meter which one can convert to square ft using unit conversion. I am going to just drop such corner cases to keep things simple

In [ ]:
def convert_sqft_to_num(x):
  tokens = x.split("-")
  if len(tokens) ==2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
    return float(X)
  except:
    return None

In [ ]:
df3 = df2.copy()

In [ ]:
df3.total_sqft = df3.total_sqft.apply(convert_sqft_to_num)
df3 = df3[df3.total_sqft.notnull()]

In [ ]:
df3.head()

In [ ]:
df3.loc[30]

In [ ]:
(2100+2850)/2

feature engineering